/***************************************************
**  LOCATION 
***************************************************/
#location { position: relative; padding: 0; overflow: hidden; }
.map-canvas { height: 500px; width: 100%; }
.map-overlay { position: absolute; height: 500px; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.75); z-index: 99; -webkit-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease; }
.map-overlay h3 { color: white; }
.map-overlay i { padding-right: .5em; }
.map-overlay > div:first-child { position: relative; top: 0; height: 100%; width: 100%; text-align: center; }
.label-position { position: absolute; top: 0; width: 100%; text-align: center; }

.map-overlay h2, #map-heading { font-size: 18px; }
.map-overlay p, #map-content-body p { font-size: 12px; padding: 0; margin: 0; }

label.map-toggle { display: inline-block; position: relative; top: 0; padding: .5em 1em; font-size: 18pt; cursor: pointer; background-color: white; z-index: 100; border-radius: 0 0 1em 1em; box-shadow: 4px 4px 3px rgba(0,0,0,.4); }
input.map-toggle ~ .label-position label.map-toggle:after { content: 'View Map'; }
input.map-toggle:checked ~ .label-position label.map-toggle:after { content: 'Hide Map'; }
input.map-toggle:checked ~ .map-overlay { top: -500px; }

